<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>carttest</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
  <servlet-name>ProductListServlet</servlet-name>
  <servlet-class>ServletLayer.ProductListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>ProductListServlet</servlet-name>
  <url-pattern>/productlistServlet</url-pattern>
  </servlet-mapping>

  <servlet>
  <servlet-name>UserLoginServlet</servlet-name>
  <servlet-class>ServletLayer.UserLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>UserLoginServlet</servlet-name>
  <url-pattern>/userloginServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
  <servlet-name>AddOrderItemServlet</servlet-name>
  <servlet-class>ServletLayer.AddOrderItemServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>AddOrderItemServlet</servlet-name>
  <url-pattern>/addOrderItem</url-pattern>
  </servlet-mapping>
  
  <servlet>
  <servlet-name>ListOrderItemServlet</servlet-name>
  <servlet-class>ServletLayer.ListOrderItemServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>ListOrderItemServlet</servlet-name>
  <url-pattern>/listOrderItem</url-pattern>
  </servlet-mapping>
  
  <servlet>
  <servlet-name>DeleteOrderItemServlet</servlet-name>
  <servlet-class>ServletLayer.DeleteOrderItemServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>DeleteOrderItemServlet</servlet-name>
  <url-pattern>/deleteOrderItem</url-pattern>
  </servlet-mapping>
  
</web-app>